#part_1{
    background-color:aliceblue;
}
body{
    margin: 0;
}
.container{
    display: flex;
}
.half-width{
    width: 50%;
    height: 350px;
    padding: 10px;
    text-align: justify;
}
.name-highlight{
    color: orangered;
}
.name-highlight_2{
    color: rgb(101, 239, 55);
}
.name-highlight_3{
    color: slateblue;
}
#pic_1{
    width: 500px;
    height: 700px;
}
#pic_2{
    width: 400px;
    height: 600px;
}
.image{
    position: relative;
    top: -100px;
}
.part_2{
    background-color: lavenderblush;
}
.action_button{
    background-color: lightcoral;
    color:yellow;
    border-radius: 1px;
    padding: 5px;
    text-decoration: none;
}
.action_button:hover{
    background-color: blue;
    color: aliceblue;
}
.experience-area{
    text-align: center;
    box-shadow: 10px 10px 40px;
    margin: 3%;
    height: 290px;
    border-radius: 5px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, purple, tomato);
    border-image-slice: 1;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
.copyright{
    text-align: center;
}